<div class="alert-table-cover">
    <table class="table-cover" border="1">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Coin Type</th>
                <th>Coin Value</th>
                <th>Coin Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td><%= @coin_name %></td>
                <td><%= @coin_value %></td>
                <td><%= @coin_count_status %></td>
            </tr>
        </tbody>

    </table>
</div>